@import '@discoveryjs/discovery/dist/discovery.css';

.discovery[data-dzen] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.discovery {
    width: 100%;
}
